function Main.main 1
call SnakerGame.new 0
pop local 0
push local 0
call SnakerGame.run 1
pop temp 0
push constant 4075
call SnakerGame.drawG 1
pop temp 0
push constant 4076
call SnakerGame.drawA 1
pop temp 0
push constant 4077
call SnakerGame.drawM 1
pop temp 0
push constant 4078
call SnakerGame.drawE 1
pop temp 0
push constant 4081
call SnakerGame.drawO 1
pop temp 0
push constant 4082
call SnakerGame.drawV 1
pop temp 0
push constant 4083
call SnakerGame.drawE 1
pop temp 0
push constant 4084
call SnakerGame.drawR 1
pop temp 0
push local 0
call SnakerGame.dispose 1
pop temp 0
push constant 0
return
